*.png
*.json
*.txt
*.sh
*.ini
*.mod
*.sum
*.svg
.DS_Store
__pycache__/
data_vis/run.sh
file_ops/main

frontend/img
frontend/imgs
frontend/scss
frontend/vendor
frontend/dist
frontend/js/extention/
frontend/js/new-age.js
frontend/js/new-age.min.js
